body{
    margin: 0;
}


.light{
    background-color: aliceblue;
    
    
}
.light a{
    color: black;
}


.dark{
    background-color: black;
}
.dark a {
    color: white;
}

.Header{
    margin: 0;
    display: grid;
    
    grid-template-areas: "logo nav";
}

.Nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
}

nav a{
    text-decoration: none;
    margin-right: 2px;
   
  font-size: 20px;
    border-radius: 10px;
    
}

.Logo{
    width: 10%;
}

@media (max-width: 700px) {
    .Header{
        grid-template-areas: "logo logo" "nav nav";
    }

    .Nav{
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none;
        gap: 20px ;
    }
    
}