.container form {
    /* background-color: #e2f1ff; */
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 30px auto;
  }
  
  .container form label {
    font-weight: 700;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .form-row {
    display: flex;
    align-items: center;
  }
  
  label {
    flex: 1;
  }
  
  input {
    flex: 2;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  /* span{
    font-size: small;
    margin-left: 20px;
  
  } */
  
  #interest-rate-errMsg,
  #down-payment-errMsg {
    color: red;
    font-size: 12px;
  }
  
  .container form div {
    display: flex;
    align-items: center;
  }
  
  .container label {
    margin-right: 10px;
  }
  
  .container input,
  .container select {
    flex: 1;
    padding: 5px;
    font-size: 16px;
  }
  
  .container button {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  #buttons {
    display: flex;
    flex-direction: row;
    /* gap: 100px; */
    margin-top: 30px;
 justify-content: center;
    width: 100%;
  }
  
  #clearContents {
    background-color: #868ebb;
    /* width: 50%; */
  }
  


  .container button:hover {
    background-color: #0056b3;
  }

  .hidden{
    display: none;
  }