#result {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    /* background-color: #e2f1ff; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
    width: 80%;
  }
  

  
 

  

  
  table,
  td,
  th {
    border: 1px solid;
  }
  
  th {
    padding: 5px;
    background-color: #ccc;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #last-row {
    background-color: rgb(190, 204, 218);
    font-weight: bold;
  }
  
  td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 17px;
    font-weight: 520;
  }
  

  
  #pie {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 100px;
  }

  
  #chart,
  #amortization-schedule {
    /* background-color: #2A2D3E; */
    /* border: 1px solid blue; */
    border-radius: 10px;
    margin-top: 40px;
    padding: 10px;
  }

  footer {
    width: 100%;
    background-color: aliceblue;
    color: #000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }